* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    position: relative;
    width: 1440px;
    height: 1024px;
    background: #F3F5FC;
}
header{
    display: block;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 40px;
    position: absolute;
    border: 10px solid #0a387163;
    border-radius: 30px;
    height: 48px;
    left: 40px;
    top: 40px;
    box-shadow: 3px 7px 5px 7px #88888865;
    }

.logo{
    width: 120px;
    height: 48px;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-size: 1.5rem;
    font-family: 'Amatic SC', cursive;
    font-weight: 800;
    font-style: italic;    
    color: #0a387165;
}
#autor{
    color: #0A3871;
    font-weight: 800;
    font-size: 2.1rem;
    font-family: 'Amatic SC', cursive;
}
#texto{
    position: absolute;
    width: 577px;
    height: 600px;
    left: 240px;
    top: 168px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
    resize: none;
    border: none;
    background: #F3F5FC;
}
.botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    position: absolute;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 885px;
}
#mensajeAdvertencia{
    width: 205px;
    height: 18px;
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
}
@media only screen and (max-width: 1175px) {
    html{   
        position: relative;
        width: 768px;
        height: 1174px;

        /* Light blue/light-blue-100 */
        background: #F3F5FC;
        }
    .mensajeRectangulo{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 16px;

        width: 624px;
        height: 69px;


        /* Inside auto layout */
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
    }
    #noEncontrado{
        
        width: 624px;
        height: 29px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 120%;

        /* identical to box height, or 29px */
        text-align: center;

        /* Gray/gray-500 */
        color: #343A40;


        /* Inside auto layout */
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
    }
    #textoEncriptar{
        width: 624px;
        height: 24px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;

        /* identical to box height, or 24px */
        text-align: center;

        /* Gray/gray-400 */
        color: #495057;


        /* Inside auto layout */
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
    }
    .botones{
        
        /* Auto layout */
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 24px;

        position: absolute;
        width: 688px;
        height: 67px;
        left: 40px;
        top: 870px;
    }
    #encriptarBoton{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 24px;
        gap: 8px;

        width: 332px;
        height: 67px;

        /* Dark blue/dark-blue-300 */
        background: #0A3871;
        border-radius: 24px;

        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 1;
    }
    #desencriptarBoton{
        
        box-sizing: border-box;

        /* Auto layout */
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 24px;
        gap: 8px;

        width: 332px;
        height: 67px;

        /* Dark blue/dark-blue-300 */
        border: 1px solid #0A3871;
        border-radius: 24px;

        /* Inside auto layout */
        flex: none;
        order: 1;
        flex-grow: 1;
    }
    #encriptarTexto{
        width: 284px;
        height: 19px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;

        /* White */
        color: #FFFFFF;


        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 1;
    }
    #desencriptarTexto{
        width: 284px;
        height: 19px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;

        /* Dark blue/dark-blue-300 */
        color: #0A3871;


        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 1;
    }
    #iconoAdvertencia{
        width: 16px;
        height: 16px;
        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 0;
    }
    #mensajeAdvertencia{
        width: 205px;
        height: 18px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;

        /* identical to box height, or 18px */

        /* Gray/gray-400 */
        color: #495057;


        /* Inside auto layout */
        flex: none;
        order: 1;
        flex-grow: 0;
    }
    #texto{
        position: absolute;
        width: 688px;
        height: 48px;
        left: 40px;
        top: 240px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 150%;

        /* identical to box height, or 48px */

        /* Dark blue/dark-blue-300 */
        color: #0A3871;
            }
}
@media screen and (max-width: 1174px){
    .advertencia{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 8px;

        position: absolute;
        width: 229px;
        height: 18px;
        left: 40px;
        top: 836px;
    }
}
@media screen and (max-width: 1174px){
    #rectangulo {

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 32px;
        gap: 32px;

        position: absolute;
        width: 688px;
        height: 133px;
        left: 40px;
        top: 1001px;
        /* White */
        background: #FFFFFF;

        /* shadow */
        box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
        border-radius: 32px;
    }
}