body{
    position: relative;
    width: 1440px;
    height: 1024px;
    background: #F3F5FC;
    }
header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
    }

#logo{
    width: 120px;
    height: 48px;
    flex: none;
    order: 0;
    flex-grow: 0;    
}
#texto{
    position: absolute;
    width: 577px;
    height: 600px;
    left: 240px;
    top: 168px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
    resize: none;
    border: none;
    background: #F3F5FC;
}
.botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    position: absolute;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 885px;
}
#mensajeAdvertencia{
    width: 205px;
    height: 18px;
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
}

