#rectangulo{
    z-index: -99;
    position: absolute;
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 40px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    }
.mensajesRectangulo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    position: absolute;
    width: 336px;
    height: 122px;
    left: 1032px;
    top: 619px;
}
#muñeco{
    position: absolute;
    width: 336px;
    height: 304px;
    left: 1032px;
    top: 283px;
    }
#textoEncriptar{
    width: 336px;
    height: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 150%;
    text-align: center;
    color: #495057;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    }
#noEncontrado{
    width: 336px;
    height: 58px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 90%;
    text-align: center;
    color: #343A40;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    }
#botonCopiar{
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    position: absolute;
    width: 336px;
    height: 67px;
    left: 1032px;
    top: 885px;

    /* Dark blue/dark-blue-300 */
    border: 1px solid #0A3871;
    border-radius: 24px;
}
#botonCopiarTexto{
    width: 288px;
    height: 19px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 19px;
    text-align: center;

    /* Dark blue/dark-blue-300 */
    color: #0A3871;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;
}
#textoEncriptado{
position: absolute;
width: 336px;
height: 781px;
left: 1032px;
top: 72px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 150%;
resize: none;
border: none;

/* or 36px */

/* Gray/gray-400 */
color: #495057;
}